In [47]:
import pandas as pd
df = pd.read_csv('./data/netflix-rotten-tomatoes-metacritic-imdb.csv')
df=df.drop(columns=["Image", "Poster", "TMDb Trailer", "Trailer Site", "Netflix Link", "IMDb Link", 'Summary', "Director", "Writer", "Genre", "Tags", "Hidden Gem Score", "Runtime", "Actors", "View Rating", "Netflix Release Date", "Production House", "IMDb Votes"])
df

,Title,Languages,Series or Movie,Country Availability,IMDb Score,Rotten Tomatoes Score,Metacritic Score,Awards Received,Awards Nominated For,Boxoffice,Release Date
0,Lets Fight Ghost,"Swedish, Spanish",Series,Thailand,7.9,98.0,82.0,74.0,57.0,"$2,122,065",12 Dec 2008
1,HOW TO BUILD A GIRL,English,Movie,Canada,5.8,79.0,69.0,1.0,NaN,"$70,632",08 May 2020
2,Centigrade,English,Movie,Canada,4.3,NaN,46.0,NaN,NaN,"$16,263",28 Aug 2020
3,ANNE+,Turkish,Series,"Belgium,Netherlands",6.5,NaN,NaN,1.0,NaN,NaN,01 Oct 2016
4,Moxie,English,Movie,"Lithuania,Poland,France,Iceland,Italy,Spain,Gr...",6.3,NaN,NaN,NaN,4.0,NaN,22 Sep 2011
...,...,...,...,...,...,...,...,...,...,...,...
15475,K-POP Extreme Survival,NaN,Series,"South Korea,Argentina,United Kingdom,Australia...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
15476,DreamWorks Shreks Swamp Stories,NaN,Series,"Russia,Hong Kong,Hungary,Australia,South Korea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
15477,DreamWorks Happy Holidays from Madagascar,English,Series,"Belgium,Switzerland,United States,Germany,Unit...",6.8,NaN,NaN,NaN,NaN,NaN,NaN
15478,DreamWorks Holiday Classics,English,Series,"Belgium,Switzerland,Germany,Argentina,United K...",6.4,NaN,NaN,NaN,NaN,NaN,NaN
15479,DreamWorks Kung Fu Panda Awesome Secrets,English,Series,"Belgium,Switzerland,Germany,United Kingdom,Fra...",6.2,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df["Languages"]=df["Languages"].to_string().split(",", " ")

TypeError: 'str' object cannot be interpreted as an integer